// bower:scss
// endbower

//.browsehappy {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}
//
//body {
//  padding: 0;
//}
//
///* Everything but the jumbotron gets side spacing for mobile first views */
//.header,
//.marketing,
//.footer {
//  padding-left: 15px;
//  padding-right: 15px;
//}
//
///* Custom page header */
//.header {
//  border-bottom: 1px solid #e5e5e5;
//  margin-bottom: 10px;
//
//  /* Make the masthead heading the same height as the navigation */
//  h3 {
//    margin-top: 0;
//    margin-bottom: 0;
//    line-height: 40px;
//    padding-bottom: 19px;
//  }
//}
//
///* Custom page footer */
//.footer {
//  padding-top: 19px;
//  color: #777;
//  border-top: 1px solid #e5e5e5;
//}
//
//.container-narrow > hr {
//  margin: 30px 0;
//}
//
///* Main marketing message and sign up button */
//.jumbotron {
//  text-align: center;
//  border-bottom: 1px solid #e5e5e5;
//
//  .btn {
//    font-size: 21px;
//    padding: 14px 24px;
//  }
//}
//
///* Supporting marketing content */
//.marketing {
//  margin: 40px 0;
//
//  p + h4 {
//    margin-top: 28px;
//  }
//}
//
///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//  .container {
//    max-width: 730px;
//  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  .header {
//    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
//}

/////// Work from here
.full-width{
  width: 100%;
}
*{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.radius-small{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
*{
  -webkit-transition: all 1ms linear 1ms;
  -moz-transition: all 1ms linear 1ms;
  -o-transition: all 1ms linear 1ms;
  transition: all 1ms linear 1ms;
}
.ok-icon{

  background-image: url("../images/glyphicons.png");
  background-position: -145px -535px;
//  background-position: 24px 24px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: text-bottom;
  width: 28px;
}
.a-symbols{
  line-height: 1;
  font-family: cursive;
  font-size:40px;
  color: #dddddd;
  &:hover{
    color: #333333;
  }
}
.a-container {
    height: 100%;
//    background-color: RED;

    @extend .full-width;


  .a-selections{
//    background-color: BLUE;
//    display: flex;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    .a-top-mesg{
      text-align: left;
      padding: 20px;
      font-size: 16px;
      font-family: ygag-arabic-light, ygag-light, tahoma, sans-serif;
      color:#333333;
      span{
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-bottom: -5px;
        margin-right: 10px;
        background-color: #333333;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
      }
    }
    ul.a-single{
      padding: 0px;
      margin: 0 auto;
      width: 600px;
      display: block;
      li:hover{
        background-color: #B31BA3;
        color: #ffffff;
      }
//      flex-flow: wrap;
     li{
//       flex-grow: 10;
       text-align: left;
       display: inline-block;
       padding:5px 30px 5px 5px;
       min-width: 100px;
//       background-color: MAROON;
       font-family: ygag-arabic-light, ygag-light, tahoma, sans-serif;

       font-size: 14px;
       margin: 2px;
       cursor: pointer;
       position: relative;
       @extend .radius-small;
       &.checked{
         background-color: #B31BA3;
         color: #ffffff;
       }
       &.checked::after{
         height: 16px;
         width:16px;
         right: 5px;
         font-size: 16px;
//         background-color: BLUE;
         content: "\2713";
         position: absolute;
         padding-left: 10px;
         color:#ffffff;
//         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//         @extend .ok-icon;
       }


     }
    }
    .a-card-con{
      position: relative;
      height: 150px;
      padding: 2px 0;
      .a-before-button{
        height: 50px;
        width: 30px;
        display: block;
        top:75px;
        left: -18px;
        //        left: -20px;
        margin-top: -20px;
        position: absolute;
        background-color: #ffffff;
        -webkit-border-radius: 0 12px 12px 0;
        -moz-border-radius:  0 12px 12px 0;
        border-radius:  0 12px 12px 0;

        -webkit-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
        -moz-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
        box-shadow:2px 0px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
        z-index: 12;

        @extend .a-symbols;
      }
      .a-after-button{
        height: 50px;
        width: 30px;
        display: block;
        top:75px;
        right: -18px;
        //        left: -20px;
        margin-top: -20px;
        position: absolute;
        background-color: #ffffff;
        -webkit-border-radius: 12px 0 0 12px;
        -moz-border-radius:  12px 0 0 12px;
        border-radius:  12px 0 0 12px;

        -webkit-box-shadow:-2px 0px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
        -moz-box-shadow:-2px 0px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
        box-shadow:-2px 0px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
        z-index: 12;

        @extend .a-symbols;
      }
      .a-cards-slider{
        width: 600px;
        //      background-color: RED;
        height: 150px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;


        -webkit-border-radius: 12px 0 12px 12px;
        -moz-border-radius:  12px 0 12px 12px;
        border-radius:  12px 0 12px 12px;
        border-color: RED;

//        -webkit-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
//        -moz-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0) ;
//        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.0), 0px 8px 2px rgba(111, 111, 111, 0.6) ;

        -webkit-box-shadow: 0 8px 0px -1px #dddddd;
        -moz-box-shadow: 0 8px 0px -1px #dddddd;
        box-shadow: 0 8px 0px -1px #dddddd;
        padding: 20px 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .slider{
          height: 100%;
          //        background-color: #dddddd;
          width: 100%;
          overflow: hidden;
          .a-slider-ul{
            width: 60000px;
            padding: 0px;
            margin: 0px;
            height: 100%;

            li{
              position: relative;
              float: left;
              display: inline-block;
              height: 100%;
              width:100px;
              padding: 0px;
              margin: 0px;


              //           @extend .the-trans;
              label{
                width: 2px;
                height: 2px;
              }
              label.selected::after{
                height: 16px;
                width:16px;
                right: 5px;
                font-size: 16px;
                background-color: #B31BA3;
                content: "\2713";
                position: absolute;
//                padding-left: 10px;
                color:#ffffff;
                bottom: 10px;
                left: 10px;
                z-index: 20;
              }
              img{
                position: relative;
                float: left;

                width: 100px;
                height: auto;
                left: 0px;
                transform: scale(1.1);
                //             top: 50%;
                //             margin-top: -23px;
                top: 50%;
                transform: 			translateY(-50%);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                &:hover{
                  padding: 4px;
//                  z-index:20;
                }
                &::after{
                  height: 16px;
                  width:16px;
                  right: 5px;
                  font-size: 16px;
                  //         background-color: BLUE;
                  content: "\2713";
                  //                  position: absolute;
                  padding-left: 10px;
                  color:#ffffff;
                }

                &.selected:after{

                  height: 16px;
                  width:16px;
                  right: 5px;
                  font-size: 16px;
                  //         background-color: BLUE;
                  content: "\2713";
                  position: absolute;
                  padding-left: 10px;
                  color:#ffffff;
                  background-color: RED;


                }

              }
            }
          }
        }
      }
    }

  }

}


