<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
        <div class="center-text">
          <h1>Let's create a <span>superb</span> product!</h1>

        </div>
        <div class="indicator" onclick='$("html, body").animate({ scrollTop: $( $(".container")[1]).offset().top }, 500);'>
          <span>^</span>
        </div>
      </div>

      <div class="container">
        <!-- {{ content }} -->
        <div class="boxes">
          <h1>I'm a <span>Software Engineer</span></h1>
          <h1>Working @ <span>Screen Interaction</span></h1>
          <h1>Living in <span>Dubai</span></h1>
        </div>
        <div class="indicator" onclick='$("html, body").animate({ scrollTop: $( $(".container")[2]).offset().top }, 500);'>
          <span>^</span></div>
      </div>

      <div class="container">
        <!-- {{ content }} -->
        <div class="boxes second">
          <h1>Love to work on</h1>
          <h1><span>Strategy</span> - <span>Branding</span> - <span>Web</span> - <span>Mobile</span></h1>
        </div>
        <div class="indicator" onclick='$("html, body").animate({ scrollTop: $( $(".container")[3]).offset().top }, 500);'><span>^</span></div>
      </div>

      <div class="container">
        <!-- {{ content }} -->
        <div class="boxes third">
          <h1>Say hi!</h1>
          <a href="https://se.linkedin.com/in/arslanrafique"><i class="svg-icon linkedin"></i></a>
          <a href="https://github.com/arslanrafique"><i class="svg-icon github"></i></a>
          <a href="https://twitter.com/Arslan_rafique"><i class="svg-icon twitter"></i></a>
          <a href="https://www.instagram.com/arslanrafique/"><i class="svg-icon instagram"></i></a>
        </div>
        <div class="indicator" onclick='$("html, body").animate({ scrollTop: $( $(".container")[0]).offset().top }, 500);'><span class="invert"><i>^</i></span></div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
