<div class="a-container">
    <div class="a-selections">
        <div class="a-top-mesg">
            <span></span> Pick a Design to make it special!
        </div>
       <ul class="a-single">
           <li class="checked">Congratulations</li>
           <li>Birthday</li>
           <li>Miss You</li>
           <li>Wedding</li>
            <li>Love</li>
            <li>Back To School</li>
            <li>Graduation</li>
            <li>Thank You</li>
        </ul>
        <div class="a-card-con">
            <span class="a-before-button ">&lt;</span>
        <div class="a-cards-slider">



            <div class="slider">
                <ul class="a-slider-ul">
                    <li><label><img src="http://i.imgur.com/cjPnOhL.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/HlmWDMU.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/mpHgYA0.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/cjPnOhL.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/HlmWDMU.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/mpHgYA0.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/cjPnOhL.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/HlmWDMU.jpg"/></label></li>
                    <li><label><img src="http://i.imgur.com/mpHgYA0.jpg"/></label></li>
                </ul>
            </div>

        </div>
            <span class="a-after-button">&gt;</span>
        </div>
    </div>


</div>